@use 'mixins.scss' as m;
@use 'fonts.scss' as f;

.container{
    @include m.flexColumn();
    position: relative;
    width: 200px;
    padding: 5px;
    background-color: #1A1A1D;
    color: #fff;
    margin: 5px 0;
    transition: transform .2s;
    border-radius: 3px;
    &:hover{
        transform: scale(1.01);
        cursor: pointer;
    }
}

@media(max-width: 550px){
    .container{
        width: 46%;
    }
}

.title{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 8px 0;

}

.subtitle{
    @include m.flexJustify(space-between);
    padding: 0 4px 3px 4px;
    font-weight: f.$fontThin;
}

