@use 'mixins.scss' as m;
@use 'fonts.scss' as f;

.trending{
    @include m.flexJustify(space-around);
    flex-wrap: wrap;
    margin-top: 10px;
}

.pageTitle{
    @include m.flexJustify(center);
    text-transform: uppercase;
    font-size: 4vw;
    padding: 4px;
    font-weight: f.$fontThin;
}
@media (max-width: 1000px) {
    .pageTitle{
        font-size: 6.5vw;
    }
}


