.container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    padding: 5px;
    background-color: #1A1A1D;
    color: white;
    margin: 5px 0px;
    transition: transform .2s;
    border-radius: 3px;
}

@media(max-width: 550px){
    .container{
        width: 46%;
    }
}

.container:hover{
    transform: scale(1.01);
}

.title{
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;

}

.subtitle{
    display: flex;
    justify-content: space-between;
    padding: 0px 4px 3px 4px;
    font-weight: 200;
}

