.header{
    width: 100%;
    height: 100px;
    background-color: #1A1A1D;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 10px;
    z-index: 100;
}