.header{
    width: 100%;
    height: 100px;
    background-color: #1A1A1D;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 10px;
    z-index: 100;
}

@media(max-width: 610px){
    .header{
        font-size: 2em;
    }
    .header img{
        width: 30px;
    }
}

@media (max-width: 460px) {
    .header{
        font-size:28px;
    }
}

@media (max-width: 423px) {
    .header{
        font-size:24px;
        letter-spacing: 6px;
    }
    .header img{
        width: 25px;
    }
}@media (max-width: 315px) {
    .header{
        font-size:20px;
        letter-spacing: 3px;
    }
    .header img{
        width: 20px;
    }
}
