@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-weight:400 ;
}
